<div class="col-start-2">
  <div class="flex flex-col gap-3">
    <p class="text-4xl h-max font-bold">SELECTED WORKS</p>
    <p class="font-light">
      Deliver clear, high-quality work that drives tangible results for the
      organization by aligning with the target audience.
    </p>
  </div>
</div>
