<div class="mx-45 pb-8 mb-9 flex flex-col gap-5 border-b border-gray-400">
  <p class="text-5xl font-bold"> ABOUT ME</p>
  <div class="font-light text-xl">
    <p>Hi, I’m Tripop — a UX/UI designer specializing in web and mobile apps for </p>
    <p>FinTech and back-office. I believe strong design systems foster better collaboration </p>
    <p>between design and development.</p>
  </div>
</div>