
<div class="bg-linear-to-b from-[#161825] to-[#181926]  flex items-center w-dvw h-24 border-t border-gray-800 justify-between px-64 ">  
  <div>
    <p class="text-xs font-light text-gray-400">Email</p>
    <p>TripopK@gmail.com</p>
  </div>
  <div>
    <p class="text-xs font-light text-gray-400">Location</p>
    <p>Bangkok, Thailand</p>
  </div>
  <div>
    <p class="text-xs font-light text-gray-400"> Phone</p>
    <p>0823382013</p>
  </div>
</div>