<div
  class="bg-linear-to-b from-[#161825] to-[#181926] w-full border-t border-gray-800 col-start-1 col-span-full"
>
  <div class="grid grid-cols-layout">
    <div class="flex justify-between h-24 items-center col-start-2">
      <div>
        <p class="text-xs font-light text-gray-400">Email</p>
        <p>TripopK@gmail.com</p>
      </div>

      <div>
        <p class="text-xs font-light text-gray-400">Location</p>
        <p>Bangkok, Thailand</p>
      </div>

      <div>
        <p class="text-xs font-light text-gray-400">Phone</p>
        <p>0823382013</p>
      </div>
    </div>
  </div>
</div>
