<div class="mt-32 min-h-48 flex gap-50 justify-center">
    <div class="text-white flex flex-col gap-5">
      <p class="text-4xl">Hi, I'm</p>
      <div class="text-8xl w-160 h-max font-bold flex flex-col gap-5 border-r border-gray-400">
        <p>TRIPOP</p>
        <p>KHAMKONG</p>
      </div>̦
    </div>
    <div>
      <img class="rounded-full object-cover h-73.5 w-73.5" src="../../public/profile.jpg" alt="brand-icon" />
  </div>
</div>
