<div class="fixed top-0 z-10 col-span-full col-start-1 w-dvw bg-[#181A27]">
  <div class="grid-cols-layout grid">
    <div class="col-start-2 flex h-24 items-center justify-between">
      <div class="flex items-center gap-2">
        <img class="w-10" src="/brand-icon.svg" alt="brand-icon" />
        <p class="text-2xl">3PKX</p>
      </div>

      <div class="flex items-center gap-4">
        <a
          class="rounded-full bg-[#1D2024] px-4 py-3 hover:bg-mist-900"
          href="#"
        >
          Contact Me
        </a>

        <button class="rounded-full bg-[#1D2024] p-3.5 hover:bg-mist-900">
          <img
            class="h-5 w-5 invert"
            src="/icons/hamburger-icon.svg"
            alt="hamburger"
          />
        </button>
      </div>
    </div>
  </div>
  <div class="h-0.5 bg-radial from-[#979797] from-50% to-[#313131] opacity-20">
  </div>
</div>
