---
import { Image } from "astro:assets";
---

<div class="flex items-center justify-between">
  <div class="flex flex-col">
    <p class="text-3xl">Hi, I'm</p>
    <div
      class="flex h-max flex-col border-r border-gray-400 pr-10 text-8xl font-bold"
    >
      <p>TRIPOP</p>
      <p>KHAMKONG</p>
    </div>
  </div>
  <div class="h-70 w-70 overflow-hidden rounded-full">
    <Image
      class="h-full w-full object-cover"
      width={280}
      height={280}
      src="/profile.jpg"
      alt="brand-icon"
    />
  </div>
</div>
