---
import { Image } from 'astro:assets'
---

<div class="flex items-center justify-between">
  <div class="flex flex-col">
    <p class="text-3xl">Hi, I'm</p>
    <div
      class="text-8xl h-max font-bold flex flex-col pr-10 border-r border-gray-400"
    >
      <p>TRIPOP</p>
      <p>KHAMKONG</p>
    </div>
  </div>
  <div class="w-70 h-70">
    <Image
      class="rounded-full object-cover ml-10"
      width={280}
      height={280}
      src="/profile.jpg"
      alt="brand-icon"
    />
  </div>
</div>
