---
import { Image } from "astro:assets";

interface ItemCardProps {
  icon: string;
  title: string;
  descriptions: string;
}

const { icon, title, descriptions } = Astro.props as ItemCardProps;
---

<div
  class="flex h-22 w-118 items-center rounded-2xl bg-[#181A27] p-3 hover:border hover:border-blue-900 2xl:w-150"
>
  <div class="flex items-center justify-center gap-2.5">
    <Image width={50} height={50} src={icon} alt={title} />
    <div>
      <p class="text-2xl font-bold">{title}</p>
      <p class="text-xs font-light text-gray-300">{descriptions}</p>
    </div>
  </div>
</div>
